body {
  font: 14px/21px Georgia, "Droid Serif", serif;
  color: #212428;
  background-color: white;
/*  background: white url("../images/grid.png") repeat-y;*/
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #212428;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #212428;
}

/* Grid test */

.grid_test {
  background-color: #eee;
}

.grid_test div {
  background-color: green;
}

/* Helper classes */

.sans, label, input[type=submit] {
  font-family: "Titillium";
}

.light {
  color: #858a8d;
}

.light a {
  font-weight: bold;
  color: #40464b;
  border-bottom: 1px solid #bcbdbe;
}

.light a:hover {
  color: white;
}

.lighter {
  color: #9b9fa3;
}

.clear {
  clear: both;
}

.hidden_nojs {
  display: none;
}

/* Sitewide elements */

a#home_link {
  position: absolute;
  top: 178px;
  font-family: "Titillium";
  font-weight: bold;
  font-size: 16px;
  padding: 0 17px;
  line-height: 34px;
}

/* Forms */

form div.input {
  margin-bottom: 8px;
}

label {
  font-size: 14px;
  padding: 2px 0;
  font-weight: bold;
  display: block;
  color: #40464b;
}

input.string, textarea.text, input.password {
  font: 14px/21px Georgia, "Droid Serif", serif;
  padding: 2px;
  border: 1px solid #D5D5D5;
}

input[type=submit] {
  border: 0;
  font-size: 14px;
  line-height: 21px;
  margin-top: 8px;
  padding: 5px 12px;
  font-weight: bold;
  background-color: #40464b;
  color: white;
  cursor: hand;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #212428;
}

form div.check_box input {
  position: relative;
  top: -2px;
}

form div.check_box label {
  margin-left: 4px;
  display: inline;
}

/* Home */

sidebar input.string, sidebar input.password {
  width: 100%;
}

sidebar form {
  margin: 12px 0;
}

section.home {
  background: white url("../images/dessin_bg.png") no-repeat top left;
  padding-top: 75px;
}

ul.articles {
  position: relative;
  width: 672px;
  margin-left: 9px;
  left: -17px;
  top: -17px;
  float: left;
  background-color: white;
}

ul.articles li {
  position: relative;
  width: 190px;
  height: 190px;
  margin-bottom: 17px;
  padding: 17px 16px 17px 17px;
  border-left: 1px solid #eaebeb;
  float: left;
}

ul.articles h1 a {
  font-weight: bold;
}

ul.articles div.body {
  font-size: 13px;
  line-height: 19px;
}

ul.articles div.meta {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  line-height: 19px;
}

ul.articles div.author {
  font-weight: bold;
  color: #212428;
}

/* Article page */

body.articles {
  background-image: url("../images/bottom_bg.png");
}

section.article {
  background-color: white;
  padding-bottom: 30px;
}

body.articles article div.body {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
}

body.articles article div.body p {
  margin-bottom: 14px;
}

header.meta div.info {
  position: relative;
  left: -17px;
  border-left: 1px solid #eaebeb;
  padding: 20px 0 17px 16px;
  margin-right: -9px;
  font-size: 12px;
  line-height: 19px;
}

header.title {
  clear: left;
  padding: 67px 0 40px;
}

header.title h1 {
  font-size: 61px;
  line-height: 72px;
}

header.title h2 {
  font-size: 34px;
  font-weight: lighter;
  line-height: 50px;
  color: #212428;
}

header.title div.author {
  padding-top: 14px;
  font-size: 15px;
}

section.comments {
  padding-top: 24px;
}

section.comments h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 20px;
}

section.comments h1 span.count {
  position: absolute;
  left: -112px;
  width: 95px;
  text-align: right;
  color: #b0b5b9;
}

section.comments form {
  margin-top: 20px;
}

section.comments input.string {
  width: 479px;
}

section.comments textarea.text {
  width: 479px;
  height: 130px;
}

/* Comments */

dl.comments dt {
  font-size: 13px;
  margin-bottom: 2px;
}

dl.comments dt span.user {
  font-weight: bold;
  color: #6d7276;
  font-size: 15px;
}

dl.comments dd {
  margin-bottom: 16px;
}
