a {
  color: rgb(COLOR);
  border-bottom-color: rgba(COLOR, 0.2);
}

a:hover,
ul.articles li:hover,
input[type=submit]:hover {
  background-color: rgb(COLOR);
}

form input.string:focus, form textarea.text:focus, form input.password:focus {
  border-color: rgb(COLOR);
  box-shadow: 0 0 5px rgb(COLOR);
}
