<% content_for :header do %>
  <h1><%= @user.name %></h1>
  <h2 class="sans"><%= pluralize(@articles.count, "article") %></h2>
<% end %>

<%= render :partial => 'shared/articles_grid', :locals => { :articles => @articles, :show_author_names => false } %>
