<% unless articles.empty? %>
<ul class="articles clickable_items">
  <% articles.each do |article| %>
  <li>
    <article>
      <h1 class="sans"><%= link_to article.title, user_article_path(article.user, article) %></h1>
      <div class="body light">
        <%= sanitize truncate_html(article.body, 80) %>
      </div>
      <div class="meta sans light">
        <% if show_author_names -%>
        <div class="author"><%= article.user.name %></div>
        <% end -%>
        <%= date_tag article.created_at %>
      </div>
    </article>
  </li>
  <% end %>
</ul>
<% end %>