<% unless articles.empty? %>
<ul class="articles clickable_items">
  <% articles.each do |article| %>
  <li>
    <article>
      <% if article.comments.count > 0 -%>
      <div class="comments_count sans">
        <div class="count">
          <%= article.comments.count %> <span class="hide">comments</span>
        </div>
        <div class="bubble_edge">&nbsp;</div>
      </div>
      
      <% end -%>
      <h1 class="sans"><%= link_to article.title, user_article_path(article.user, article) %></h1>
      <div class="meta sans light">
        <% if show_author_names -%>
        <div class="author"><%= article.user.name %></div>
        <% end -%>
        <%= date_tag article.created_at %>
      </div>
    </article>
  </li>
  <% end %>
</ul>
<% end %>