<% if user_signed_in? %>
  Salut <strong><%= current_user.name %></strong>.
  <ul>
    <li><%= link_to 'Déconnexion', destroy_user_session_path %></li>
  </ul>
<% else %>
  <%= render :partial => 'shared/login_form'%>
<% end %>
