/* Articles grid */

ul.articles {
  position: relative;
  width: 672px;
  left: -17px;
  top: -17px;
  float: left;
  background-color: white;
  
  > li {
    position: relative;
    width: 190px;
    height: 190px;
    margin-bottom: 24px;
    padding: 12px 17px 12px 16px;
    border-left: 1px solid $graystroke;
    overflow: hidden;
    float: left;

	  h1 {
	    font-size: 15px;
	    line-height: 22px;

	    a {
	      font-weight: bold;
	    }
	  }

	  div.body {
	    font-size: 13px;
	    line-height: 19px;
	  }

	  div.meta {
	    position: absolute;
	    bottom: 12px;
	    font-size: 12px;
	    line-height: 19px;
	
			div.author {
		    font-weight: bold;
		  }
	  }
    
		img {
			position: absolute;
			top: 0;
			left: 0;
		}

    &:hover {
      background-color: #212428;
      cursor: hand;
      cursor: pointer;
      border-left: 0;
      padding-left: 17px;

      .light {
        color: rgba(255, 255, 255, 0.6);
      }

      a, div.author {
        color: white;
      }

			img {
				display: none;
			}
    }
  }
}
