/* Single articles */

body.articles {
  article {
    width: 655px;

    div.body {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 16px;
    
      p {
        margin-bottom: 14px;
      }
    
      h2 {
        font-family: $sans;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

section.article {
  background-color: white;
  padding-bottom: 30px;
}

header div.meta {
  position: absolute;
  top: 0;
  padding: 20px 0 17px;
  font-size: 12px;
  line-height: 19px;
}

header.title {
  clear: left;
  
  h1 {
    font-size: 61px;
    line-height: 72px;
  }
  
  h2 {
    font: {
      size: 34px;
      weight: lighter;
    }
    line-height: 50px;
    color: #212428;
  }
  
  div.author {
    padding-top: 14px;
    font-size: 15px;
  }
}

/* Pagination */

div.pagination {
  float: left;
  clear: left;
  position: relative;
  top: -24px;
  left: -17px;
  font-size: 12px;
  
  em, span, a {
    border-left: 1px solid $graystroke;
    padding: 8px 16px;
    float: left;
  }
  
  span.disabled {
    display: none;
  }
  
  :last-child {
    border-right: 1px solid $graystroke;
  }
  
  em {
    font-weight: bold;
    font-style: normal;
    background-color: white;
  }
  
  a {
    border-bottom: 0;
  }
}