/* Comments */

dl.comments {
  
  line-height: 21px;
  
  dt {
    font-size: 13px;
    margin-bottom: 2px;
    
    span.user {
      font-weight: bold;
      color: #6d7276;
      font-size: 15px;
    }
  }
  
  dd {
    margin-bottom: 16px;
    
    p {
      margin-bottom: 8px;
    }
  }
}

