/* Comments */

body.articles section[role=complementary] {
  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
    position: relative;
    left: -112px;
    
    span.count {
      position: absolute;
      left: -112px;
      width: 95px;
      text-align: right;
      color: #b0b5b9;
    }
  }
  
  form {
    margin-top: 40px;
    
    input.string {
      width: 479px;
    }
    
    textarea.text {
      width: 479px;
      height: 130px;
    }
  }
}

dl.comments {
  width: 655px;
  line-height: 21px;
  
  dt {
    font-size: 13px;
    margin-bottom: 2px;
    
    span.user {
      font-weight: bold;
      color: #6d7276;
      font-size: 15px;
    }
  }
  
  dd {
    margin-bottom: 16px;
    
    p {
      margin-bottom: 8px;
    }
  }
}

