sidebar {
  width: 207px;
  float: right;
  
  input.string, input.password {
    width: 100%;
  }
  
  form {
    margin: 12px 0;
  }
  
  p.actions {
    margin-top: 9px;
    font-size: 12px;
  }
  
  div.note {
    margin-top: -17px;
    padding: 8px 16px;
    background-color: #f8f3d3;
  }
} 

body.home {
  background: white url("bg_1.png") no-repeat top left fixed;
}

body.home.bg_2 {
  background-image: url("bg_2.png");
}
