/*
 *= require reset
 *= require grid
 *= require_self
 *= require_tree .
*/

$serif: "Noticia Text", Georgia, "Droid Serif", serif;
$darkgray: #212428;

body {
  font: 14px/21px $serif;
  color: $darkgray;
  background-color: white;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: $darkgray;
  text-decoration: none;
  border-bottom: 1px solid rgba(33, 36, 40, 0.2);
}

a:hover {
  color: white;
  background-color: $darkgray;
  border: 0;
  padding: 3px 0 2px;
}

/* Helper classes */

.sans, label, input[type=submit] {
  font-family: "Titillium";
}

.light {
  color: rgba(33, 36, 40, 0.6);
  
  a {
    font-weight: bold;
    /*  color: #40464b;*/
  }
  
  a:hover {
    color: white;
  }
}

.lighter {
  color: #9b9fa3;
}

.clear {
  clear: both;
}

.hidden_nojs {
  display: none;
}

/* Sitewide elements */

a#home_link {
  position: fixed;
  top: 178px;
  font-family: "Titillium";
  font-weight: bold;
  font-size: 16px;
  padding: 0 17px;
  line-height: 34px;
  border: 0;
  z-index: 100;
  color: white;
}

a#home_link:hover {
  background-color: $darkgray;
}

/* Forms */

form {
  div.input {
    margin-bottom: 8px;
  }
  
  label {
    font-size: 14px;
    padding: 2px 0;
    font-weight: bold;
    display: block;
    color: #40464b;
  }
  
  input.string, textarea.text, input.password {
    font: 14px/21px $serif;
    padding: 2px;
    border: 1px solid #D5D5D5;
    
    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(33, 36, 40, 0.4);
    }
  }
  
  input[type=submit] {
    border: 0;
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
    padding: 5px 12px;
    font-weight: bold;
    background-color: #40464b;
    color: white;
    cursor: hand;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $darkgray;
  }
  
  div.check_box input {
    position: relative;
    top: -2px;
  }
  
  div.check_box label {
    margin-left: 4px;
    display: inline;
  }
}
