/* Article lists */

ul.articles {
  position: relative;
  width: 672px;
  margin-left: 9px;
  left: -17px;
  top: -17px;
  float: left;
  background-color: white;
  
  > li {
    position: relative;
    width: 190px;
    height: 190px;
    padding: 12px 17px 12px 16px;
    border-left: 1px solid #eaebeb;
    float: left;
    
    &:hover {
      background-color: #212428;
      cursor: hand;
      cursor: pointer;
      border-left: 0;
      padding-left: 17px;

      .light {
        color: rgba(255, 255, 255, 0.6);
      }

      a, div.author {
        color: white;
      }
    }
  }
  
  h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    
    a {
      border-bottom: none;
    }
  }
  
  div.body {
    font-size: 13px;
    line-height: 19px;
  }
  
  div.meta {
    margin-top: 4px;
    font-size: 12px;
    line-height: 19px;
  }
  
  div.author {
    font-size: 13px;
    font-weight: bold;
/*  color: #212428;*/
  }
  
  div.comments_count {
    font-size: 11px;
    line-height: 11px;
    color: white;
    margin: 4px 0 4px 6px;
    float: right;
    
    div.count {
      padding: 3px 5px 1px;
      background-color: rgba(33, 36, 40, 0.3);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    
    div.bubble_edge {
      height: 4px;
      overflow: hidden;
      background: rgba(33, 36, 40, 0.3) url("bubble_edge.png") no-repeat top left;
    }
  }
}

/* Single articles */

body.articles {
  background-color: #f9f9f9;
  
  article div.body {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    
    p {
      margin-bottom: 14px;
    }
  }
}

section.article {
  background-color: white;
  padding-bottom: 30px;
}

header.meta div.info {
  position: relative;
  left: -17px;
  border-left: 1px solid #eaebeb;
  padding: 20px 0 17px 16px;
  margin-right: -9px;
  font-size: 12px;
  line-height: 19px;
}

header.title {
  clear: left;
  padding: 142px 0 40px;
  
  h1 {
    font-size: 61px;
    line-height: 72px;
  }
  
  h2 {
    font: {
      size: 34px;
      weight: lighter;
    }
    line-height: 50px;
    color: #212428;
  }
  
  div.author {
    padding-top: 14px;
    font-size: 15px;
  }
  
  div.date {
    padding-top: 4px;
    font-size: 12px;
    line-height: 19px;
  }
}

section.comments {
  padding: 24px 0 75px;
  
  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
    
    span.count {
      position: absolute;
      left: -112px;
      width: 95px;
      text-align: right;
      color: #b0b5b9;
    }
  }
  
  form {
    margin-top: 40px;
    
    input.string {
      width: 479px;
    }
    
    textarea.text {
      width: 479px;
      height: 130px;
    }
  }
}

/* Comments */

dl.comments {
  dt {
    font-size: 13px;
    margin-bottom: 2px;
    
    span.user {
      font-weight: bold;
      color: #6d7276;
      font-size: 15px;
    }
  }
  
  dd {
    margin-bottom: 16px;
    
    p {
      margin-bottom: 8px;
    }
  }
}

