sidebar {
  input.string, input.password {
    width: 100%;
  }
  
  form {
    margin: 12px 0;
  }
  
  p.actions {
    margin-top: 9px;
    font-size: 12px;
  }
  
  div.note {
    padding: 8px 16px;
    background-color: #f8f3d3;
  }
} 

section.home {
  background: white url("dessin_bg.png") no-repeat top left;
  padding: 75px 0;
}
